<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>English to Sign Language (ASL) Translator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="../static/index.css" /> 
    <link href="https://fonts.googleapis.com/css2?family=Monsterrat&display=swap" rel="stylesheet">
</head>
<body>
    <div class="title">
        <h1>American Sign Language Translator</h1>
    </div>
    <div class="main">
        <div id="alphabet-container" style="display: none;"></div> 
        <div class="row0">
        </div>
        <div class="row1">
            <div class="ele1">
                <h2>Text</h2>
            </div>
            <div class="swapBtn">
                <i class="fa-solid fa-right-left"></i>
            </div>
            <div class="ele2">
                <h2>Sign Language</h2>
            </div>
        </div>
        <div class="row2">
            <div class="ele1 content">
                <textarea class="text" name="" id="english-input" style="width: 100%; height: 100%; border: 1px solid black; resize: none;"></textarea>
            </div>
            <div class="ele2 content">
                <button id="toggle-button">Turn On Camera</button>
                <div id="video-container" style="display: none">
                    <img id="video-feed" width="100%" height="272" />
                </div>
                <div id="Sign-output-container" style="display: none" width="97%" height="100%">
                </div>
            </div>
        </div>
        <div class="row3">
            <div class="showAlphabet btn">Show Alphabet</div>
            <button id="showHistoryBtn" class="btn">History</button>
            <div class="translateBtn btn" id="translateBtn">Translate</div>
        </div>
    </div>
    <script src="../static/script.js"></script> </body>
</html>
